{% extends "cars/base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row">
            <!-- Профиль с данными пользователя -->
            <div class="col-md-5">
                <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4">Изменить данные</h3>
                    <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="id_username" class="form-label">Логин*</label>
                                <input type="text" class="form-control" id="id_username"
                                    name="username"
                                    placeholder="Введите ваш логин"
                                    value="{{ form.username.value }}" required>
                                    {% if form.username.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_email" class="form-label">Электронный адрес*</label>
                                <input type="email" class="form-control" id="id_email"
                                    name="email"
                                    placeholder="Введите вашу почту *youremail@example.com"
                                    value="{{ form.email.value }}" required>
                                    {% if form.email.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                                    {% endif %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Сохранить</button>
                    </form>
                </div>
            </div>
                <!-- Разметка машин пользователя -->
                <div class="container">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h3 class="text-center mb-4">Ваши машины</h3>
                            {% for car in user_cars %}
                            <li>
                                <a>{{ car.make }} {{ car.model }} ({{ car.year }})</a>
                            </li>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Закончилась разметка машин пользователя -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}